@font-face {
  font-family: "Labil Grotesk";
  src:
    url('fonts/StabilGrotesk-Light.otf') format('opentype'),
    url("fonts/StabilGrotesk-Light.woff2") format("woff2"),
    url("fonts/StabilGrotesk-Light.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Labil Grotesk";
  src:
    url('fonts/StabilGrotesk-LightItalic.otf') format('opentype'),
    url("fonts/StabilGrotesk-LightItalic.woff2") format("woff2"),
    url("fonts/StabilGrotesk-LightItalic.woff") format("woff");
  font-style: italic;
}
