/* #bg {
  height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
} */
/*
#info {
  font-family: sans-serif;
  font-size: 10em;
  letter-spacing: 15px;
  margin: 0;
  padding: 0;
  fill: #000;
}

#masked {
  mark:url("#maskLayer");
}

#maskLayer {
  index: 1;
} */

/* .video-container video {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
} */

#bg {
  z-index: -2;
}

video {
  width: auto;
  min-height: 100%;
}

.video-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.clip-polygon {
  /* -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 38% 100%);
  clip-path: polygon(50% 0, 100% 0%, 100% 100%, 38% 100%); */

  -webkit-clip-path: polygon(61.5% 0, 100% 0%, 100% 100%, 38.5% 100%);
  clip-path: polygon(61.5% 0, 100% 0%, 100% 100%, 38.5% 100%);
}

/* .logo {
  width: 10vw;
  height: auto;
  display: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
} */

.logo {
  display: block;
  width: 10vw;
  height: auto;
}


.flex-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
