@font-face {
  font-family: Stabil Grotesk;
  font-weight: normal;
  src:  url('fonts/LabilGroteskTrial-Light.otf') format('opentype');
        /* url('fonts/LabilGrotesk-Regular.woff2') format('woff2'),
        url('fonts/LabilGrotesk-Regular.woff') format('woff'); */
       /* url('myfont.ttf') format('truetype'); */
}

/* ------------------------- base -------------------------------- */

body, html {
  font-family: Stabil Grotesk, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.1;
  color: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  text-decoration: none;
  color: #fff;
}

a:hover {
  cursor:pointer;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: none;
}

button:focus {outline:none;}

.parent {
  display: flex;
  flex-direction: row;
}

/* ------------------------- typography -------------------------------- */

h1 {
  font-family: Stabil Grotesk, sans-serif;
  font-weight: normal;
  font-size: 2em;
  line-height: 1.1;
}

::selection {
  background: #000; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #000; /* Gecko Browsers */
}

/* ------------------------- navigation -------------------------------- */

.navigation {
  /* width: 20%; */
  flex: 20%;
  height: 100%;
  margin: 0;
  padding: 2em;
  position: sticky;
  top: 0;
  /* position: fixed; */
}

.navigation a {
  font-size: 1em;
  /* padding: .1em 0; */
  line-height: 1.2;
  padding: 0;
  margin: 0;
  transition: all .3s ease-in-out;
}

.navigation a:hover {
  padding-left: .3em;
}

/* .logo-nav {
  height: auto;
  padding: 0 0 2.5em 0;
  margin: 0;
  line-height: 0;
} */

/* .logo-nav:hover {
  cursor: pointer;
} */

/* .logo-nav > a {
  margin: 0;
  padding: 0;
  line-height: 0;
} */

/* .logo-nav > a:hover {
  cursor: pointer;
  padding: 0;
} */

/* .logo-nav > a > img {
  height: 1.6em;
} */

/* ------------------------- collapsible nav -------------------------------- */

.collapsible {
  /* width: 40%; */
  height: auto;
  padding: 0 0 2.5rem 0;
  margin: 0;
  line-height: 0;
}

.collapsible:hover {
  cursor: pointer;
}

.collapsible > a {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.collapsible > a:hover {
  cursor: pointer;
  padding: 0;
}

.collapsible > img {
  height: 1.6rem;
}

.content {
  padding: 0;
  max-height: 100%;
  /* position: fixed; */
  overflow: hidden;
  /* transition: max-height 0.2s ease-out; */
  background-color: transparent;
}

/* ------------------------- content -------------------------------- */

ul.page {
  /* margin-left: 20%; */
  flex: 80%;
  display: block;
  padding: 2em 0;
  /* transition: padding-top 0.2s ease-out; */
}

ul.page li {
  padding: 0 0 2em 0;
}

ul.page li:last-of-type {
  padding: 0;
}

.clip-fairs {
  -webkit-clip-path: polygon(calc(60% + 12vh) 0, 100% 0%, 100% 100%, calc(60% - 12vh) 100%);
  clip-path: polygon(calc(60% + 12vh) 0, 100% 0%, 100% 100%, calc(60% - 12vh) 100%);
}

/* ------------------------- video & clip -------------------------------- */

#bg {
  z-index: -2;
}

video {
  min-width: 100%;
  height: auto;
}

.video-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.clip-polygon {
  -webkit-clip-path: polygon(calc(50% + 12vh) 0, 100% 0%, 100% 100%, calc(50% - 12vh) 100%);
  clip-path: polygon(calc(50% + 12vh) 0, 100% 0%, 100% 100%, calc(50% - 12vh) 100%);
}

/* ------------------------- logo center ------------------------------- */

.logo {
  display: block;
  width: 15vw;
  height: auto;
  align-self: center;
}


.flex-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------- queries --------------------------- */

/* @media screen and (max-width:950px) {
  .logo {
    width: 20vw;
  }

  .navigation {
    flex: 30%;
  }

  ul.page {
    flex: 70%;
  }
} */

@media screen and (max-width:950px) {
  .logo {
    width: 30vw;
  }

  .parent {
    flex-direction: column;
  }

  .content {
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  ul.page {
    margin-left: 2em;
    padding: 0;
    /* padding-top: 5.6em; */
  }

  .navigation {
    padding: 2em 2em 0 2em;
  }
}

@media screen and (max-width:500px) {
  .logo {
    width: 35vw;
  }
}

@media (max-aspect-ratio: 3/2) {
  video {
    min-height: 100%;
    width: auto;
  }
}
