@font-face {
  font-family: "Labil Grotesk";
  src:
    url('fonts/LabilGrotesk-Italic.otf') format('opentype'),
    url("fonts/LabilGrotesk-Italic.woff2") format("woff2"),
    url("fonts/LabilGrotesk-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Labil Grotesk";
  src:
    url('fonts/LabilGrotesk-Regular.otf') format('opentype'),
    url("fonts/LabilGrotesk-Regular.woff2") format("woff2"),
    url("fonts/LabilGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Labil Grotesk";
  src:
    url('fonts/LabilGrotesk-Light.otf') format('opentype'),
    url("fonts/LabilGrotesk-Light.woff2") format("woff2"),
    url("fonts/LabilGrotesk-Light.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Labil Grotesk";
  src:
    url('fonts/LabilGrotesk-LightItalic.otf') format('opentype'),
    url("fonts/LabilGrotesk-LightItalic.woff2") format("woff2"),
    url("fonts/LabilGrotesk-LightItalic.woff") format("woff");
  font-weight: lighter;
  font-style: italic;
}

/* ------------------------- base -------------------------------- */

body, html {
  font-family: Labil Grotesk, sans-serif;
  font-weight: lighter;
  font-style: normal;
  -webkit-font-feature-settings: "ss01" 0, "calt" 0;
  -moz-font-feature-settings:    "ss01" 0, "calt" 0;
  -ms-font-feature-settings:     "ss01" 0, "calt" 0;
  font-feature-settings:         "ss01" 0, "calt" 0;
  font-size: 18px;
  line-height: 1.1;
  color: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  text-decoration: none;
  color: #fff;
}

a:hover {
  cursor:pointer;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: none;
}

button:focus {outline:none;}

.parent {
  display: flex;
  flex-direction: row;
}

/* ------------------------- typography -------------------------------- */

h1 {
  font-family: Labil Grotesk, sans-serif;
  -webkit-font-feature-settings: "ss01" 0, "calt" 0;
  -moz-font-feature-settings:    "ss01" 0, "calt" 0;
  -ms-font-feature-settings:     "ss01" 0, "calt" 0;
  font-feature-settings:         "ss01" 0, "calt" 0;
  font-weight: lighter;
  font-style: normal;
  font-size: 2em;
  line-height: 1.1;
}

::selection {
  background: #000; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #000; /* Gecko Browsers */
}

/* ------------------------- navigation -------------------------------- */

.navigation {
  /* width: 20%; */
  flex: 20%;
  height: 100%;
  margin: 0;
  padding: 2em;
  position: sticky;
  top: 0;
  /* position: fixed; */
}

.navigation a {
  font-size: 1em;
  /* padding: .1em 0; */
  line-height: 1.2;
  padding: 0;
  margin: 0;
  transition: all .3s ease-in-out;
}

.navigation a:hover {
  padding-left: .3em;
}

/* ------------------------- collapsible nav -------------------------------- */

.collapsible {
  /* width: 40%; */
  height: auto;
  padding: 0 0 2.5rem 0;
  margin: 0;
  line-height: 0;
}

.collapsible:hover {
  cursor: pointer;
}

.collapsible > a {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.collapsible > a:hover {
  cursor: pointer;
  padding: 0;
}

.collapsible > img {
  height: 1.6rem;
}

.collapsible > svg {
  height: 1.6rem;
}

.content {
  padding: 0;
  /* display: block; */
  max-height: 100%;
  /* position: fixed; */
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: transparent;
}

.content li:last-child {
  padding-bottom: 2.5rem;
}

/* ------------------------- content -------------------------------- */

ul.page {
  /* margin-left: 20%; */
  flex: 80%;
  display: block;
  padding: 2em 0;
  /* transition: padding-top 0.2s ease-out; */
}

ul.page li {
  padding: 0 0 2em 0;
}

ul.page li:last-of-type {
  padding: 0;
}

.clip-fairs {
  -webkit-clip-path: polygon(calc(60% + 12vh) 0, 100% 0%, 100% 100%, calc(60% - 12vh) 100%);
  clip-path: polygon(calc(60% + 12vh) 0, 100% 0%, 100% 100%, calc(60% - 12vh) 100%);
}

/* ------------------------- video & clip -------------------------------- */

#bg {
  z-index: -2;
}

video {
  min-height: 100%;
  width: auto;
}

.video-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.clip-polygon {
  -webkit-clip-path: polygon(calc(50% + 12vh) 0, 100% 0%, 100% 100%, calc(50% - 12vh) 100%);
  clip-path: polygon(calc(50% + 12vh) 0, 100% 0%, 100% 100%, calc(50% - 12vh) 100%);
}

/* ------------------------- logo center ------------------------------- */

.logo {
  display: block;
  width: 15vw;
  height: auto;
  align-self: center;
  cursor: pointer;
}


.flex-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------- logo center ------------------------------- */

.polymorph, .polymorph2, .polymorph3,
.polymorph4, .polymorph5, .polymorph6,
.polymorph7, .polymorph8 {
  fill: #fff;
}

/* ------------------------- map ------------------------------- */

#map {
  width: calc(100% - 2em);
  height: 20em;
  margin-top: 2em;
}

/* ------------------------- queries --------------------------- */

/* @media screen and (max-width:950px) {
  .logo {
    width: 20vw;
  }

  .navigation {
    flex: 30%;
  }

  ul.page {
    flex: 70%;
  }
} */

@media screen and (max-width:950px) {
  .logo {
    width: 30vw;
  }

  .parent {
    flex-direction: column;
  }

  ul.page {
    margin-left: 2em;
    padding: 0 0 2em 0;
    /* padding-top: 5.6em; */
  }

  .navigation {
    padding: 2em 2em 0 2em;
  }

  .content {
    /* display: none; */
    max-height: 0;
    /* transition: max-height 0.2s ease-out; */
  }

  .content.responsive {
    /* display: block; */
    max-height: 40%;
    /* transition: max-height 0.2s ease-out; */
  }
}

@media screen and (max-width:500px) {
  .logo {
    width: 35vw;
  }
}

@media (max-aspect-ratio: 3/2) {
  video {
    min-width: 100%;
    height: auto;
  }
}
