#bg {
  z-index: -2;
}

video {
  width: auto;
  min-height: 100%;
}

.video-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.clip-polygon {
  /* -webkit-clip-path: polygon(50% 0, 100% 0%, 100% 100%, 38% 100%);
  clip-path: polygon(50% 0, 100% 0%, 100% 100%, 38% 100%); */

  -webkit-clip-path: polygon(calc(50% + 75px) 0, 100% 0%, 100% 100%, calc(50% - 75px) 100%);
  clip-path: polygon(calc(50% + 75px) 0, 100% 0%, 100% 100%, calc(50% - 75px) 100%);
/*
  -webkit-clip-path: url(assets/angle.svg);
  clip-path: url(assets/angle.svg); */

  /* clip-path: polygon(
    calc(100% - 40vw) 0,
    100% 0,
    100% 100%,
    calc(100% - 60vw) 100%
  ); */

  /* clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 6vw)
  ); */
}

/* .logo {
  width: 10vw;
  height: auto;
  display: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
} */

.logo {
  display: block;
  width: 15vw;
  height: auto;
}


.flex-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
